@model WRTC2026_Log.Models.Logbook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Logbook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Callsign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Callsign)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportSent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportReceived)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
